*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1 rem is equal to 10px // 10 / 16 = 62.5 */
}

body {
  width: 100vw;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: white;
  overflow-x: hidden;
}

/* App container */
.container {
  width: 100%;
  overflow: hidden;
}

/* Header */
.header {
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-weight: 300;
  letter-spacing: 0.15rem;
}

.date {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.main {
  opacity: 0;
  transition: 0.4s;
  margin-bottom: 0.5rem;
  width: 100%;
}

.weather__info {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather__info--icon {
  width: 60%;
}

.weather__info--city-and-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
}

.weather__info--city {
  font-size: 3.5rem;
  font-weight: 300;
}

.weather__info--type {
  font-size: 2rem;
  font-weight: 200;
}

.weather__info--temp {
  font-size: 8rem;
  font-weight: 200;
  display: flex;
}

.degrees {
  margin-top: 1.5rem;
  font-size: 3rem;
}

/* Extra data styling */
.extra__data {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.extra__data--info {
  margin: 0.5rem 0;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33333333%;
}

.extra__data--info:not(:last-child) {
  border-right: 1px solid white;
}

.extra__data--heading {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.extra__data--wind-info {
  display: flex;
}

.main__5-hour-forecast {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.hourly__forecast--heading {
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem;
  text-transform: uppercase;
}

.hourly__forecast--data-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid white;
  overflow: scroll;
}

.hourly__forecast--data {
  margin-top: 0.5rem;
  flex: 0 0 19%;
  padding: 1rem;
}

.hourly__forecast--date {
  font-size: 1.4rem;
  padding: 0.5rem;
  font-weight: 200;
}

.hourly__forecast--data:not(:last-child) {
  border-right: 1px solid white;
}

.hourly__forecast--icon {
  width: 70%;
}

.footer {
  color: rgb(110, 110, 110);
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.footer__app-title {
  color: white;
}

/* Remove scroll bar */
::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: transparent;
}

/* JavaScript classes */
.view-main {
  opacity: 1;
}

.day-background {
  background-image: linear-gradient(
    to top right,
    rgb(172, 217, 255),
    rgb(64, 169, 255)
  );
}

.night-background {
  background-image: linear-gradient(
    to top right,
    rgb(9, 43, 97),
    rgb(32, 49, 78)
  );
}
